.signInPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

  }
p{
    color: #c3ff9e;
    text-shadow: 0 0 5px #c3ff9e80;
}

h2{
    font-weight: 300;
    color: #c3ff9e;
    text-shadow: 0 0 5px #c3ff9e80;
}

  .signInCard {
    -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
    backdrop-filter: blur(16px) saturate(180%)!important;
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 2px solid #c3ff9e90;
    box-shadow: 0 0 10px #c3ff9e80;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    position: absolute;
    width: 60%;
    height: 60%;
    min-width: 800px;
    min-height: 600px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    padding: 20px;
  }

  .link-button{

    color: #c3ff9e;
    text-shadow: 0 0 5px #c3ff9e80;
    background-color: #c3ff9e00;

  }