.voice-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 5%;
    right: 5%;
    border-radius: 50px;
    z-index: 999;
    background-color:#231f01;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.24);
    transition: height 0.3s, width 0.3s, border-radius 0.3s;
    transition-timing-function: ease;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.125);
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  
  .button-base {
  
    width: 75px;
    height: 75px;
    border-radius: 75px;
    cursor: pointer;
    outline-offset: 4px;
    background-color: rgb(189, 189, 189);
  }
  
  .voice-trigger {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border: none;
    transform: translateY(-8px);
    transition:
        transform
        250ms;
  }
  
  .button-base:hover .voice-trigger {
  
    transform: translateY(-10px);
  }
  
  .button-base:active .voice-trigger {
  
    transform: translateY(-1px);
    transition:
    transform
    100ms;
  }
  .close-voice{
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
  
  }
  
  .close-voice-button{
      
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #241c15;
    background-color: #efeeea;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0.5s;
    padding: 0 18px;
    :hover {
        color: #241c15;
        background-color: #bab8ae;
    }
  
  }
  .mic {
  
    height: 50px;
    width: 50px;
  }
  .v-enter-active {
    
    transition: opacity 0.4s ease 0.1s; /* opacity transition with 0.3s duration and 0.2s delay */
    
  }
  
  .v-enter-from {
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0s; /* Optional: remove any transition effect during initial state */
  }
  
  .textarea{
  
    font-family: 'Nunito';
    
  }
  